*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#head{
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    height: 3rem;
}


